<div class="footer-container myContainer">
  <div class="d-grid">
    <div class="left-sec">
      <h1 class="title">Pages</h1>
      <ul>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li class="d-none">
          <a class="">About</a>
        </li>
        <li class="d-none">
          <a class="">Branches</a>
        </li>
        <li class="d-none">
          <a class="">Gallery</a>
        </li>
        <li>
          <a routerLink="/menu">Menu</a>
        </li>
      </ul>
    </div>
    <div class="middle-sec">
      <h1 class="title">Friends cafe</h1>
      <ul>
        <li>
          Erbil - Bekhtiary
        </li>
        <li>
          Beside Samsung Company
        </li>
        <li>
          <span class="material-icons-sharp">phone</span>+964 751 842 9146
        </li>
        <li>
          <span class="material-icons-sharp">email</span>saeed.moued@gmail.com
        </li>
      </ul>
    </div>
    <div class="right-sec">
      <h1 class="title">Follow us</h1>
      <div class="d-flex">
        <a href="" class="facebook"><i class="fab fa-facebook "></i></a>
        <a href="" class="instagram"><i class="fab fa-instagram"></i></a>
        <a href="" class="youtube"><i class="fab fa-youtube"></i></a>
        <a href="" class="linkedin"><i class="fab fa-linkedin"></i></a>

      </div>
    </div>
  </div>
  <div class="bottom-sec d-flex justify-content-between">
    <h1>Friends Restaurant & Cafe © 2022. All Rights Reserved. </h1>
    <h1>Made by <a href="#">Saeed Almawed</a></h1>
  </div>
</div>