<div class="gallery-container myContainer">
    <div class="title">
        <h1>Food Gallery</h1>
    </div>
    <div class="food-imgs">



        <div class="cart">
            <a href="assets/imgs/menu/Apple-juice.jpg" target="_blank" class="ftco-thumbnail image-popup">
                <img src="assets/imgs/menu/Apple-juice.jpg" alt="" class="img-fluid gallery-img">
            </a>
        </div>
        <div class="cart">
            <a href="assets/imgs/menu/Chicken-Burger.jpg" target="_blank" class="ftco-thumbnail image-popup">
                <img src="assets/imgs/menu/Chicken-Burger.jpg" alt="" class="img-fluid gallery-img">
            </a>
        </div>
        <div class="cart">
            <a href="assets/imgs/menu/Falafel.jpg" target="_blank" class="ftco-thumbnail image-popup">
                <img src="assets/imgs/menu/Falafel.jpg" alt="" class="img-fluid gallery-img">
            </a>
        </div>
        <div class="cart">
            <a href="assets/imgs/menu/cheeseburgers.webp" target="_blank" class="ftco-thumbnail image-popup">
                <img src="assets/imgs/menu/cheeseburgers.webp" alt="" class="img-fluid gallery-img">
            </a>
        </div>
        <div class="cart">
            <a href="assets/imgs/menu/Apple-juice.jpg"  target="_blank" class="ftco-thumbnail image-popup">
                <img src="assets/imgs/menu/Apple-juice.jpg" alt="" class="img-fluid gallery-img">
            </a>
        </div>

    </div>
</div>