
@import '~swiper/scss';
@import '~swiper/scss/navigation';
@import '~swiper/scss/pagination';
@import '../../../assets/variable.scss';
.category-container{
    margin-top: 10rem;
    position: relative;
    padding-top: 10px;
    .text-primary{
        color: $primary !important;
        font-size: 18px;
        text-align: center;
        padding-top: 5px;
        @media screen and (min-width:767px) {
            animation: upMoveLargeScreen 3s infinite both;
        }
        @media screen and (max-width:767px) {
            animation: upMoveSmallScreen 3s infinite both;
        }
        height: 40px;
        margin: 0;
        margin-bottom: 4rem;
    }
    .category-swiper{
        position: sticky;
        top: 70px;
        background-color: $black;
        z-index: 10;
        box-shadow: 0 4px 2px -2px $primary;
        padding-bottom: 5px;
        .swiper-container{
            padding-top: 15px;
            position: relative;
        }
        .swiper-wrapper{
            gap: 1rem;
            padding-top: 10px;
            .swiper-slide{
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 0 !important;
                margin-left: -1px !important;
                border: 0 !important;
                .category{
                    background-color: transparent;
                    border: 0;
                    color: $light;
                    &:hover ,&:active{

                        img{
                            outline: 5px solid $primary;
                            transition: all .3s;

                        }
                        .title {
                            color: $primary;
                            transition: all .3s;
                        }
                    }
                }
                .active {
                    img{
                        outline: 5px solid $primary;
                    }
                    .title{
                        color: $primary;
                    }
                }
            }
            img{
                width: 135px;
                height: 135px;
                border-radius: 50%;
                margin-bottom: 2px;
                @media screen and (max-width:767px) {
                    //width: 125px;
                    //height: 125px;
                }
            }
            .title {
                font-size: 14px;
            }
        }

        .swiper-button-white {
            position: absolute;
            top: 120px;
            width: 30px;
            height: 50px;

            color: $black;
            border-radius: 5px;
            background-color: $primary;
            transform: translateY(-50%);
            &:after{
                font-size: 30px;
                color: $black;

            }
          }

          .swiper-button-disabled{
            opacity: 0 !important;
          }
          .btn-left{
            &:after{
                animation: goleft .8s infinite both;
            }
            left: -10px;
          }
          .btn-right{
            &:after{
                animation: goright .8s infinite both;
            }
            right: -10px !important;
          }
    }

}
















  /************** animations ***************/
  @keyframes goleft {
    0% {
        margin-left: 0;
    }
    50%{
        margin-left: -5px;
    }

  }

  @keyframes goright {
    0% {
        margin-left: 0;
    }
    50%{
        margin-left: 5px;
    }

  }

  @keyframes upMoveLargeScreen {
    0%{
        padding-top: 5px;
    }
    50%{
        padding-top: 0px;
        font-size: 28px;
        letter-spacing: 4px;


    }
  }

  @keyframes upMoveSmallScreen {
    0%{
        padding-top: 5px;
    }
    50%{
        padding-top: 0px;
        font-size: 18px;
        letter-spacing: 1px;


    }
  }

