<!--
    <mat-progress-spinner value="0" class="d-none"></mat-progress-spinner>

<ng-container *ngIf="userService.roleMatch(['Admin'])">
    <router-outlet></router-outlet>
</ng-container>


<ng-container *ngIf="!isLoggedIn()">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</ng-container>
-->


<div class="try" *ngIf="isLoading">
    <div class="lds-spinner spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <h1 class="">Loading</h1>
</div>
<app-header></app-header>
<app-cart *ngIf="showCart"></app-cart>
<router-outlet></router-outlet>
<app-footer></app-footer>