// Dark Mode
/*
$black:#050507;
$gray:#362e2d;
$light:#7c8685;
$white:#aaaca1;
$primary:#ffb300;
*/

$black:#fafafa;
$gray:#362e2d;
$light:#222;
$white:#aaaca1;
$primary:#603F83FF;


/*
$black:#2c3837;
$gray:#362e2d;
$light:#e9e9e9;
$white:#e9e9e9;
$primary:#deafa7;
*/
/*
$black:#28313a;
$gray:#362e2d;
$light:#e9e9e9;
$white:#e9e9e9;
$primary:#fddcdd;
*/

/*
$black:#f2f8f7;
$gray:#362e2d;
$light:#778377;
$white:red;
$primary:#eb737c;
*/

// light Mode
/*
$white:#050507;
$light:#362e2d;
$gray:#7c8685;
$black:#f1f1f1;
$primary:#ffb300;
*/