
.mat-sidenav-container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.mat-sidenav{
    background-color: green !important;
    width: 200px;
    height: 100vh;
}

.mat-sidenav-content{
    width: 500px;
    height: 100vh;
    background-color: red;
}

.mat-sidenav-container{
    min-height: 100vh;
}

.mat-drawer-inner-container{
    overflow: hidden !important;
}
.mat-drawer-backdrop.mat-drawer-shown{
    opacity: .5;
}