// Dark Mode

$black:#050507;
$gray:#362e2d;
$light:#7c8685;
$white:#aaaca1;
$primary:#ffb300;





// light Mode
/*
$white:#050507;
$light:#362e2d;
$gray:#7c8685;
$black:#f8f8f8;
$primary:#ffb300;
*/