<div class="branches-container myContainer">
    <div class="title">
        <h1>Our Branches</h1>
    </div>
    <div class="d-grid branches">
        <div class="branch">
            <img src="../../../assets/imgs/branch-1.webp" alt="">
            <h1>Friends Cafe Alpha</h1>
            <h2>Iraq</h2>
            <h2>Erbil - Bikhtyari</h2>
        </div>
        <div class="branch">
            <img src="../../../assets/imgs/branch-2.webp" alt="">
            <h1>Friends Cafe Beta</h1>
            <h2>Syria</h2>
            <h2>Damascus - Hamra St</h2>
        </div>
        <div class="branch">
            <img src="../../../assets/imgs/branch-3.webp" alt="">
            <h1>Friends Cafe Delta</h1>
            <h2>Lebanon</h2>
            <h2>Beirut - Jounieh St</h2>
        </div>
    </div>
</div>